@import '../../theme/colors.scss';

.card {
  border-radius: 1rem;
}

ngx-dropzone,
.custom-dropzone {
     margin: 5px;
}

.custom-dropzone {
    height: 400px;
    background: $white;
    color: $black;
    border: 3px dashed $app-blue-color;
    border-radius: 5px;
    font-size: 20px;
  }
  
  input[type="file"] {
    display: none;
  }
  
  .upload-image-input:hover {
    background-color: $app-blue-color;
  }
  
  .upload-image-input:active {
    background-color: $app-blue-color;
    box-shadow: 0 0px $app-dark-gray;
    transform: translateY(4px);
  }


  .upload-image-input{
    box-shadow: 0 2px $app-dark-gray;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    background-color: $app-blue-color;
    color: $white;
    padding: 6px 12px;
    width: 50%;
    margin: auto;
  }

  .url-image-input{
    width: 70%;
    margin: auto;
  }

.img-thumbnail{
  height: 400px;
  width: auto;
}


.flexContainer {
  width: 80%;
  margin: auto;
  display: flex;
}

.inputField {
  flex: 1;
}

.copy-url-btn{
  padding: 12px;
  border: none;
  color: $white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

input{
  padding: 12px 10px;
  display: inline-block;
  border: 1px solid $app-dark-gray;
  border-radius: 4px;
  box-sizing: border-box;
}

.copy-clipboard-message{
  padding: 10px;
  width: 60%;
  margin: auto;
  cursor: no-drop;
}

.image-icon{
  opacity: .4;
}

  